<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistu.ecadmin.dao.StudyTourActivityDao">

    <!-- 更新研学活动 -->
    <update id="update" parameterType="com.bistu.ecadmin.pojo.StudyTourActivity">
        UPDATE study_tour_activity
        <set>
            <if test="activityName != null and activityName != ''">
                activity_name = #{activityName},
            </if>
            <if test="tourPlanId != null">
                plan_id = #{tourPlanId},
            </if>
            <if test="applyStartDate != null and applyStartDate != ''">
                apply_start_date = #{applyStartDate},
            </if>
            <if test="applyEndDate != null and applyEndDate != ''">
                apply_end_date = #{applyEndDate},
            </if>
            <if test="activityStartDate != null and activityStartDate != ''">
                activity_start_date = #{activityStartDate},
            </if>
            <if test="activityEndDate != null and activityEndDate != ''">
                activity_end_date = #{activityEndDate},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="recruitNum != null">
                recruit_num = #{recruitNum},
            </if>
            <if test="registeredNum != null">
                registered_num = #{registeredNum},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 分页查询研学活动 -->
    <select id="list" resultType="com.bistu.ecadmin.pojo.StudyTourActivity">
        SELECT
        sta.id,
        sta.activity_name AS activityName,
        sta.plan_id AS tourPlanId,
        stp.plan_name AS planName,
        sta.apply_start_date AS applyStartDate,
        sta.apply_end_date AS applyEndDate,
        sta.activity_start_date AS activityStartDate,
        sta.activity_end_date AS activityEndDate,
        sta.price,
        sta.recruit_num AS recruitNum,
        sta.registered_num AS registeredNum,
        sta.status,
        sta.remark,
        sta.create_time AS createTime,
        sta.update_time AS updateTime,
        COALESCE((
            SELECT COUNT(*)
            FROM user_collect uc
            WHERE uc.target_type = 'study_activity'
            AND uc.target_id = CAST(sta.id AS CHAR)
        ), 0) AS collectNumber,
        CASE WHEN #{userId} IS NOT NULL AND EXISTS (
            SELECT 1 FROM user_collect uc2
            WHERE uc2.user_id = #{userId}
              AND uc2.target_type = 'study_activity'
              AND uc2.target_id = CAST(sta.id AS CHAR)
        ) THEN 1 ELSE 0 END AS isCollect
        FROM study_tour_activity sta
        LEFT JOIN study_tour_plan stp ON sta.plan_id = stp.id
        <if test="merchantUserId != null">
            INNER JOIN study_tour_base stb ON stp.base_id = stb.id
        </if>
        <where>
            <if test="merchantUserId != null">
                AND stb.user_id = #{merchantUserId}
            </if>
            <if test="activityName != null and activityName != ''">
                AND sta.activity_name LIKE CONCAT('%', #{activityName}, '%')
            </if>
            <if test="tourPlanId != null">
                AND sta.plan_id = #{tourPlanId}
            </if>
            <if test="status != null">
                AND sta.status = #{status}
            </if>
            <if test="excludeCancelled != null and excludeCancelled">
                AND sta.status != 5
            </if>
        </where>
        ORDER BY sta.create_time DESC
    </select>

</mapper>
